{% block conteudo %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Produto</title>
</head>
<body>
    <h1>Atualizar Produto</h1>
    <form method="POST">
        <label for="form_nome">Nome:</label>
        <input type="text" name="form_nome" value="{{ produto.nome }}" required><br>

        <label for="form_descricao">Descrição:</label>
        <input type="text" name="form_descricao" value="{{ produto.descricao }}" required><br>

        <label for="form_quantidade_produto">Quantidade:</label>
        <input type="number" name="form_quantidade_produto" value="{{ produto.quantidade_produto }}" required><br>

        <label for="form_categoria_id">Categoria ID:</label>
        <input type="number" name="form_categoria_id" value="{{ produto.categoria_id }}" required><br>

        <input type="submit" value="Atualizar">
    </form>
</body>
</html>
{% endblock conteudo %}