{% extends 'template.html' %}


{% block conteudo %}
{{produto}}
<form action="{{url_for('editar_produto', id_produto=produto.id)}}" method="POST">
    <label>Nome </label>
    <input type="text" name="form_nome" value="{{produto.nome}}" required>

    <Label>Descrição </Label>
    <input type="text" name="form_descricao" value="{{produto.descricao}}" required>

    <label>Preço </label>
    <input type="text" name="form_preco" value="{{produto.preco}}" required>


    <label>Categoria </label>
    <input type="text" name="form_categoria_id" value="{{produto.categoria_id}}" required>

    <button> Atualizar</button>
    <button><a href="{{url_for('produto')}}"> Cancelar</a></button>
</form>

{% endblock conteudo %}