{% extends 'template.html' %}

{% block conteudo %}

<div class="conteudo_dash">
    <h3>
        <strong>
            Aqui encontra-se um pequeno resumo sobre o gerenciamento da STOCK SYSTEM<br>
            EXEMPLOS:
            Cadastros, dados e observações 😎
        </strong>
    </h3>
</div>

<div class="container_dash_consulta">
    <div class="card">
        {% if lista_funcionario %}
        <h4> CONSULTA</h4>
        <hr>
        <br>
        <p> Nome:{{lista_funcionario.0.nome}} </p><br>
        <p> Salario: {{lista_funcionario.0.salario}} </p> <br>
        <p> CPF: {{lista_funcionario.0.cpf}}</p> <br>
        {% endif %}
    </div>
</div>

<div class="container_dash_animal">
    <div class="card">
        {% if lista_categoria %}
        <h4> CATEGORIA</h4>
        <hr>
        <br>
        <p> Nome Categoria:{{lista_categoria.0.name_categoria}} </p><br>
        {% endif %}
    </div>

</div>

<div class="container_cadastro_produto">
    <div class="card">
        <h4> CADASTRO</h4>
        <hr>
        <br>
        <form method="POST" action="/cadastrar_produto">
            <label for="nome"> Nome Produto:</label><br>
            <input type="text" id="nome" name="nome" required><br><br>

            <label for="descricao">Descrição:</label><br>
            <input type="descricao" id="descricao" name="descricao" required><br><br>

            <label for="preco">Preço:</label><br>
            <input type="number" id="preco" name="preco" required><br><br>

            <label for="name_categoria">Categoria:</label><br>
            <input type="text" id="name_categoria" name="name_categoria" required><br><br>

            <input type="submit" value="Cadastrar">
        </form>
    </div>

    {% endblock conteudo %}