{% extends 'template.html' %}

{% block conteudo %}

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Volume da Movimentação</th>
        <th>Tipo de Movimentação</th>
        <th> Produto</th>
        <th> Funcionário</th>
    </tr>
    </thead>
    <tbody>
    <!-- Exemplo de como os dados podem ser renderizados dinamicamente -->
    {% for m, p,f in movimentacoes %}
    <tr>
        <td>{{ m.id }}</td>
        <td>{{ m.volume_movimentacao }}</td>
        <td>{{ m.atividade }}</td>
        <td>{{ p.nome }}</td>
        <td>{{ f.nome }}</td>
<!--        <td><a href="{{url_for('editar_movimentacao', id_movimentacao=m.id)}}"> EDITAR</a></td>-->
    </tr>

    {% endfor %}
    </tbody>


</table>

{% endblock conteudo %}


{% for item in lista_movimentacao %}-->

<!--<div class="conteudo">-->
<!--    <p> Volume Movimentacao: {{item.volume_movimentacao}} </p><br>-->
<!--    <p> Atividade: {{item.atividade}}</p> <br>-->
<!--    <p> Produto Movimentado: {{item.produto_movimentado}}</p> <br>-->
<!--    <p> Funcionário Movimentado: {{item.funcionario_movimentado}}</p>-->
<!--</div>-->

<!--{% endfor %}

