{% extends 'template.html' %}


{% block conteudo %}
<form action="{{url_for('criar_categoria')}}" method="POST">
    <label> Nome Classificação </label>
    <input type="text" name="form_nome_classificacao">

<!--    <Label> Raça</Label>-->
<!--    <input type="text" name="form_raca">-->

<!--    <label> Ano nascimento</label>-->
<!--    <input type="text" name="form_ano_nascimento">-->

<!--    <label>  Cliente Id </label>-->
<!--    <input type="text"  name="form_cliente_id">-->

    <button> Adicionar</button>
    <button><a href="{{url_for('categoria')}}"> Cancelar</a></button>
</form>

{% endblock conteudo %}