{% extends 'template.html' %}

{% block conteudo %}
<div class="saudacao">
    <h3><strong>SUPORTE</strong></h3>

    <p>
        Nos últimos anos, a <span class="highlight">STOCK SYSTEM</span> tem enfrentado dificuldades significativas
        na gestão do seu estoque. O crescimento rápido da empresa e o aumento do volume de
        vendas resultaram em desafios de controle e organização dos produtos no estoque.
        Portanto, <span class="important">não hesite em entrar em contato para esclarecer suas dúvidas.</span>
    </p>

    <div class="contact-info">
        <p><strong>E-mail:</strong> contato@stock_system.com</p>
        <p><strong>WhatsApp:</strong> (18) 99790-9865</p>
    </div>

    <p>
        Será um prazer esclarecer suas dúvidas e oferecer mais detalhes sobre nossas soluções.<br>
        Estamos à disposição para ajudá-lo!
    </p>

<!--    <div class="duvida">-->
<!--        <img src="/static/duvida.jpg" alt="Imagem de dúvidas">-->
<!--    </div>-->
</div>


{% endblock conteudo %}