{% extends 'template.html' %}

{% block conteudo %}
<div class="saudacao">
    <h3><strong>SUPORTE</strong> <BR> <br></h3>

    <p>

        Nos últimos anos, a TechStock Solutions tem enfrentado dificuldades significativas
        na gestão do seu estoque. O crescimento rápido da empresa e o aumento do volume de
        vendas resultaram em desafios de controle e organização dos produtos no estoque.
        Portando. Não hesista funcionário em entrar em contato para suas dúvidas sejma
        retiradas<br><br>
    </p>


    <p>
        Entre em contato pelos seguintes canais:<br>

        <h3><strong>E-mail:</strong></h3> contato@stock_system.com<br>

        <h3><strong>WhatsApp:</strong></h3> (18) 99790-9865<br>

        <p>Será um prazer esclarecer suas dúvidas e oferecer mais detalhes sobre nossas soluções.<br>
        Estamos à disposição para ajudá-lo!
    </p>
<div class="duvida">
    <img src="/static/duvida.jpg">
</div>
</div>


{% endblock conteudo %}