<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/template.css">
</head>
<body>

<header>
    <h3> STOCK SYSTEM</h3>

    <div>
        <a href="{{url_for('produto')}}" class="imagem_template"> <!-- Link para a página inicial -->
            <img class="produto" src="/static/produto.png" alt="Ícone da casa">
        </a>
    </div>

    <div>
        <a href="{{url_for('funcionario')}}" class="imagem_template"> <!-- Link para a página inicial -->
            <img class="produto" src="/static/funcionario.jpg" alt="Ícone da casa">
        </a>
    </div>


</header>


<div class="container">

    <nav>
<!--        <a href="{{url_for('funcionario')}}"> FUNCIONÁRIOS CADASTRADOS</a>-->
        <a href="{{url_for('criar_funcionario')}}"> CADASTRO FUNCIONÁRIOS</a>

<!--        <a href="{{url_for('produto')}}"> PRODUTOS CADASTRADOS</a>-->
        <a href="{{url_for('criar_produto')}}"> CADASTRO PRODUTOS</a>

        <a href="{{url_for('categoria')}}"> CATEGORIA CADASTRADAS</a>
        <a href="{{url_for('criar_categoria')}}"> LOGIN CATEGORIA</a>

        <a href="{{url_for('movimentacao')}}"> MOVIMENTAÇÕES CADASTRADAS</a>
        <a href="{{url_for('criar_movimentacao')}}"> LOGIN MOVIMENTAÇÃO</a>


    </nav>


    <main>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


        {% block conteudo %}
        {% endblock %}

    </main>

</div>


</body>
</html>